<!-- Couple Bio -->
<section class='bio-section'>
  <div class='section-decorative-line'></div>
  <div class='content-wrapper'>
    <div class='bio-heading'>
      <h2 class='section-title reveal-title'>About Us</h2>
      <div class='decorative-flourish'>
        <svg
          viewBox='0 0 100 20'
          preserveAspectRatio='none'
        >
          <path
            d='M0,10 C30,20 70,0 100,10'
            vector-effect='non-scaling-stroke'
          ></path>
        </svg>
      </div>
    </div>
    <div class='bio-content'>
      <div class='bio-cards'>
        <div class='bio-card groom-card reveal-item'>
          <div
            class='bio-photo'
            style="
                background-image: url('/img/groom.webp');
                background-size: cover;
                background-position: center;
              "
          >
          </div>
          <div class='bio-info'>
            <h3>Nuttapon</h3>
            <p class='bio-birthday'>September 8, 1989</p>
            <p class='bio-detail'>Developer, passionate about travel</p>
          </div>
        </div>
        <div class='bio-separator'>
          <div class='bio-heart'>❤</div>
        </div>
        <div class='bio-card bride-card reveal-item'>
          <div
            class='bio-photo'
            style="
                background-image: url('/img/bride.webp');
                background-size: cover;
                background-position: top;
              "
          >
          </div>
          <div class='bio-info'>
            <h3>Suchanya</h3>
            <p class='bio-birthday'>September 27, 1990</p>
            <p class='bio-detail'>
              Food and Beverage, loves photography and coffee
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='accent-shape shape-1'></div>
  <div class='accent-shape shape-2'></div>
</section>
