<footer class='wedding-footer'>
  <div class='footer-decorative-border'></div>
  <div class='footer-content'>
    <div class='footer-logo'>SOM & TOON</div>
    <div class='footer-date'>25 · 05 · 2025</div>
    <div class='footer-text'>We can't wait to celebrate with you!</div>
    <div class='footer-names'>Suchanya & Nuttapon</div>
  </div>
</footer>
