<div class='loading-screen'>
  <div class='loading-container'>
    <div class='loading-logo'>SOM & TOON</div>
    <div class='loading-bar-container'>
      <div class='loading-bar'></div>
    </div>
    <di class='loading-text'>LOADING YOUR INVITATION</di>
  </div>
</div>
